.container {
    width: 100%;
    border: 20px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
     /* Fixed to center the building */
}
.building-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.building {
    overflow-y: scroll; 
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: max-content; 
    height: 100%;
    width:100%;
    border: 2px solid green;
   
}

.floor {
    width: 100%;
    height: 80px; /* Match this with the lift height */
    border: 0.5px solid black;
    position: relative;
    
}

.lift {
    width: 60px;
    height: 80px; /* Match this with the floor height */
    background-color: grey;
    position: absolute;
    transition: transform 2s ease;
    margin-left: 50px;
    bottom: 0;
}

.lift-door {
    width: 30px;
    height: 100%; /* Adjust to fill the lift height */
    background-color: rgb(241, 227, 22);
    position: absolute;
    top: 0;
    transition: all 1s ease;
}

.lift-door-left {
    left: 0;
}

.lift-door-right {
    right: 0;
}

.lift-door.open {
    width: 0;
}
