.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.building-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.building {
    overflow-y: scroll; 
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: max-content; 
    height: 100%;
    width:100%;
    
    
}

.lift {
    height: 60px; /* The lift height should match the value used in JavaScript */
    width: 40px;  /* Adjust width as needed */
    position: absolute;
    bottom: 0;    /* Ensure lift starts from the bottom */
    transition: transform 2s ease; /* Smooth movement */
}

.floor {
    height: 60px; /* This should match the floorHeight value in JavaScript */
    position: relative;
    width: 100%;  /* Ensure the floor spans the full width */
    
    border-top:0.1px solid red;
    
}
.floor-numbers {
   
     /* Adjust to position the label correctly */
   

}
.floor:first-of-type{
    border-bottom: 0.1px solid red;
}
.lift-door {
    width: 30px;
    height: 100%; /* Adjust to fill the lift height */
    background-color: rgb(241, 227, 22);
    position: absolute;
    top: 0;
    transition: all 1s ease;
}

.lift-door-left {
    left: 0;
}

.lift-door-right {
    right: 0;
}

.lift-door.open {
    width: 0;
}
