.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     /* Fixed to center the building */
}
.building-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.building {
    overflow-y: scroll; 
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: max-content; 
    height: 100%;
    width:100%;
    border: 2px solid green;
   
}

.lift {
    height: 60px; /* The lift height should match the value used in JavaScript */
    width: 40px;  /* Adjust width as needed */
    position: absolute;
    bottom: 0;    /* Ensure lift starts from the bottom */
    transition: transform 1s ease; /* Smooth movement */
}

.floor {
    height: 80px; /* This should match the floorHeight value in JavaScript */
    position: relative;
    width: 100%;  /* Ensure the floor spans the full width */
    border-bottom: 0.1px solid black;
}


.lift-door {
    width: 30px;
    height: 100%; /* Adjust to fill the lift height */
    background-color: rgb(241, 227, 22);
    position: absolute;
    top: 0;
    transition: all 1s ease;
}

.lift-door-left {
    left: 0;
}

.lift-door-right {
    right: 0;
}

.lift-door.open {
    width: 0;
}
